* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
}

.filme-form {
    margin: 10px;
    padding: 20px;
    border: 3px solid lightgray;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}

.filme-form input {
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    flex: 1;
}

.filme-form button {
    padding: 5px 20px;
    background-color: cornflowerblue;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.filme-form button:hover {
    background-color: darkblue;
}

.lista {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;

}

.item {
    padding: 10px;
    color: black;
    width: 300px;
    height: 500px;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.item-img {
    width: 100%;
    height: 70%;
}

.item-img img {
    width: 100%;
    height: 100%;
}

.item-descricao {
    text-align: center;
    padding: 20px;
    justify-content: center;
    flex: 1;
}

.item-descricao h3 {
    margin-bottom: 15px;
}

.item-descricao a {
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 10px;
}

.item-descricao a:hover {
    background-color: darkblue;
}





